@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
  box-sizing: border-box;
}
ul{
    margin-right:130px;
}
.nav-item{
  font-family: 'Lato', sans-serif;
    margin:15px 3px;
    padding:11px 15px;
}
.nav-link{
  color:#fff;
  font-size:12px;
  background-color:rgba(0, 0, 0, 0);
  text-transform: uppercase;
  text-decoration:none solid rgb(255, 255, 255);
  text-align:left;
  text-indent:0px;
}
.nav-btn{
  background-color: rgb(214, 28, 28);
  padding:10px 20px;
  line-height:19.2px;
vertical-align:middle;
letter-spacing:normal;
word-spacing:0px;
}
.hero {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url();
  background:linear-gradient(0deg, rgba(189, 186, 186, 0.514),rgba(189, 186, 186, 0.514)), url("https://images.unsplash.com/photo-1449247613801-ab06418e2861?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bb80a15068b7e5da425b33750319daaa");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
body .hero:before {
  content: '';
  height: 100%;
  width: 150vw;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}
body .hero .hero-content {
  position: relative;
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  text-align: center;
  line-height: 4rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.35);
  margin: 30vh auto 0;
  overflow: auto;
}
.hero-content p {
  font-family :"Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:16px;
  line-height:25.6px;
  vertical-align:baseline;
  letter-spacing:1.6px;
  word-spacing:0px;
  margin:16px 0px 8px;
  padding:0px;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  text-transform:uppercase;
  text-decoration:none solid rgb(255, 255, 255);
  text-align:center;
  text-indent:0px;
}
.hero-content h1{
  font-family: "Cambo", "Times New Roman", serif;
  font-size:50.4px;
  line-height:61.1596px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  margin:20px 0px 10px;
  padding:0px;
  font-weight:400;
  font-style:normal;
  font-variant:normal;
  text-transform:none;
  text-decoration:none solid rgb(255, 255, 255);
  text-align:center;
  text-indent:0px;
}
.separator-container{
  width: 250px;
  margin: 0 auto;
}
.separator:before{
    display: block;
    float: left;
    border-color: white;
    width: 25%;
    content: " ";
    margin-top: 30px;
    border: 1px solid #ffffff;
}
.separator::after{
  display: block;
  float: right;
  border-color: white;
  width: 25%;
  content: " ";
  margin-top: 30px;
  border: 1px solid #ffffff;
}
.hero-content h5{
  font-family: Cambo, "Times New Roman", serif;
  line-height:27.3px;
  vertical-align:baseline;
  letter-spacing:normal;
  word-spacing:0px;
  margin:0px 0px 9.1px;
  font-weight:500;
  font-style:normal;
  font-variant:normal;
  text-transform:none;
  text-decoration:none solid rgb(255, 255, 255);
  text-align:center;
  text-indent:0px;
}
body .content {
  position: absolute;
  z-index: 1000;
  top: 100vh;
  background: #faf8f8;
  width: 100%;
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.ct_icon_box {
  margin-bottom: 50px;
}

.ct_icon_box_section {
  margin-bottom: 60px;
}

.ct-section_header {
  text-align: center;
  padding-top: 80px;
}

.ct-section_header h2 {
  font-size: 65px;
  font-size: 6.5rem;
  color: #291b07;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.ct-section_header.ct-section_header--type2 h2 {
  font-size: 50px;
  font-size: 5rem;
  padding-bottom: 17px;
  padding-bottom: 1.7rem;
  font-family: 'Roboto Condensed', sans-serif;
}

.ct-section_header.ct-section_header--type2 .ct-section_header-description {
  font-size: 18px;
  font-size: 1.8rem;
  color: #2e2e2e;
  font-weight: 400;
  padding-bottom: 5px;
  padding-bottom: 0.5rem;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

.ct-section_header.ct-section_header--type2 .ct-section_header-separator {
  background-color: #0BB3E1;
}

.ct-section_header-separator {
  background-color: #924399;
  height: 2px;
  height: 0.2rem;
  display: inline-block;
  width: 171px;
  width: 17.1rem;
  margin: 15px 0 10px;
  margin: 1.5rem 0 1rem;
}

.ct-icon_box {
  margin-bottom: 3rem;
}
.navbar-fixed-top.scrolled {
        position:fixed;
        top:0;
        background:transparent;
        width:100%;
        height:80px;
        color: white;
}
/* @media screen and (min-width: 480px)  {
 ul{
   margin-right:0px;
 }
 .nav-btn{
  background-color: rgb(0, 0, 0);
 }
} */